name: 4-action-acr-aci

on:
  push:
    branches:
    - 4-action-acr-aci

jobs:
  build-and-deploy:
    runs-on: ubuntu-latest
    steps:
    - uses: actions/checkout@v1
    - uses: azure/actions/login@master
      with:
        creds: ${{ secrets.AZURE_CREDENTIALS }}
    - name: bash DEPLOY.sh
      env:
        AZURE_CREDENTIALS: ${{ secrets.AZURE_CREDENTIALS }}
      run: |
        cd $GITHUB_WORKSPACE/
        bash azure/DEPLOY.sh
